In [14]:
import pandas as pd
import numpy as np

In [2]:
from pandas import DataFrame

In [8]:
dd = {
    'one': ['2015-01-01','2015-01-01','2015-01-01','2015-01-02','2015-01-02','2015-01-02','2015-01-03','2015-01-03','2015-01-03'],
    'x': [1,2,3,2,-5,6,5,7,-1],
    'y': [1,2,3,1,2,3,1,2,3]
}

In [9]:
df = DataFrame(dd)

In [13]:
df.min()

one    2015-01-01
x              -5
y               1
dtype: object

In [11]:
df.groupby('one').min()

            x  y
one
2015-01-01  1  1
2015-01-02 -5  1
2015-01-03 -1  1

In [12]:
df.dtypes

one    object
x       int64
y       int64
dtype: object

In [15]:
np.array([1,2,3,4,5,6,7,8])

array([1, 2, 3, 4, 5, 6, 7, 8])